.photo-box {
    font-size: 14px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    text-align: left;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.photo-box img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.photo-box:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.9s ease 0s;
}

.photo-box:hover .content h3 {
    letter-spacing: 0;
}

.header {
    height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px;
    position: static;
    flex-direction: column;
    display: flex;
    align-items: center;
    place-items: inherit;
}

.container {
    flex: 1 0 33.33%;
    display: flex;
    gap: 21px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

@media all and (min-width: 1024px) {
    .container {
        flex-basis: 33.33%
    }

    .photo-box {
        max-width: calc(33.33% - 50px);
    }

    .content h3 {
        height: 70px;
        width: 254px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-basis: 50%;
    }

    .photo-box {
        max-width: calc(50% - 50px);
        max-height: 450px;
    }

    .content h3 {
        height: 70px;
        width: 254px;
    }
}

@media all and (max-width: 767px) {
    .container {
        flex-basis: 100%;
    }

    .photo-box {
        min-width: 100px;
        max-width: 500px;
        max-height: 450px;
    }

    .content h3 {
        max-height: 150px;
        max-width: 480px;
        min-width: 100px;
    }
}

.content {
    justify-items: center;
    max-width: 100%;
    display: block;
}

.content h2 {
    width: 100%;
    height: auto;
    margin: 0;
}

.content h3 {
    padding-top: 0;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: hidden;
    width: 100%;

}

.container h3:hover {
    overflow-y: scroll;
}

.link-destination {
    display: block;
    gap: 10px;
    text-decoration: none;
}

#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#modal-content {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
}

#modal-caption {
    text-align: center;
    color: #ccc;
    padding-top: 10px;
}

.recent {
    flex: 5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}