@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}

.box {
    margin-top: 75px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.sub-box {
    margin-top: 75px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}



.category {
    flex: 1;

}

.categories {
    padding-left: 10px;
}

.title {
    text-align: center;
}

.header-bar {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    display: block;
    z-index: 9999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #111;
}


.menu {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.photo-box {
    font-size: 14px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    text-align: left;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.photo-box img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.photo-box:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    /* Standard box-shadow property */
    transition: all 0.9s ease 0s;
    background-color: white;
    transform: scale(1.05);
    /* Scale the element slightly on hover */
}

.photo-box:hover::before {
    content: '';
    /* Adding a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent overlay */
    z-index: -1;
    /* Place it behind the element */
    transition: opacity 0.3s ease;
    /* Smooth transition for the overlay */
}



.photo-box:hover::before {
    opacity: 1;
    /* Make the overlay and icon visible on hover */
}

.photo-box:hover .content h3 {
    letter-spacing: 0;
}

.container {
    /* flex: 1 0 33.33%;
    display: flex;
    gap: 21px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative; */

    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media all and (min-width: 1024px) {
    .box {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
    }

    .sub-box {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
    }

    .recent {
        flex-direction: column;

    }

    .container {
        flex-basis: 33.33%
    }

    .photo-box {
        max-width: calc(33.33% - 50px);
    }

    .content h3 {
        height: 70px;
        width: 254px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .box {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
    }

    .sub-box {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }

    .recent {
        flex-direction: row;

    }

    .container {
        flex-basis: 50%;
    }

    .photo-box {
        max-width: calc(50% - 50px);
        max-height: 450px;
    }

    .content h3 {
        height: 70px;
        width: 254px;
    }
}

@media all and (max-width: 767px) {
    .container {
        flex-basis: 100%;
    }

    .box {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }

    .sub-box {
        margin-top: 75px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }

    .recent {
        flex-direction: row;

    }

    .photo-box {
        min-width: 100px;
        max-width: 500px;
        max-height: 450px;
    }

    .content h3 {
        max-height: 150px;
        max-width: 480px;
        min-width: 100px;
    }

    .header {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }

    .dropdown {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: static;
        background-color: transparent;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        display: block;
        text-align: center;
        text-decoration: none;
        z-index: 1;
    }

    .dropdown-content a:hover {
        background-color: #111;
    }
}

/* footer */

.footer-distributed {
    background: #333;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: lightseagreen;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 767px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/* end footer */

/* banner */
.slider {
    width: 100%;
    height: 510px;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* end banner */

.content {
    justify-items: center;
    max-width: 100%;
    display: block;
}

.content h2 {
    width: 100%;
    height: auto;
    margin: 0;
}

.content h3 {
    padding-top: 0;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: hidden;
    width: 100%;

}

.container h3:hover {
    overflow-y: scroll;
}

.link-destination {
    display: block;
    gap: 10px;
    text-decoration: none;
}

#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#modal-content {
    display: block;
    margin: auto;
    width: 60%;
    height: 80%;
}

#modal-caption {
    text-align: center;
    color: #ccc;
    padding-top: 10px;
}

#recent-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#recent-close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#recent-content {
    display: block;
    margin: auto;
    width: 60%;
    height: 80%;
}

#recent-caption {
    text-align: center;
    color: #ccc;
    padding-top: 10px;
}

.recent {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    gap: 20px;
}